<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
</head>
  <body>
    {{ partial "consent.html" . }}
    <header class="site">
      <div class="container">
        <h1><a href="/">{{ .Site.Title }}</a></h1>
        {{ with .Site.Params.tagline }}<div class="post-meta">{{ . }}</div>{{ end }}
      </div>
    </header>
    <main class="container">
      {{ block "main" . }}{{ .Content }}{{ end }}
    </main>
    <footer class="site">
      <div class="container">© {{ now.Year }} {{ .Site.Title }}</div>
    </footer>
  </body>
</html>

