<!DOCTYPE html>
{{- $mode := partialCached "func/getMode" . }}
<html lang="{{ .Lang }}" {{ if $mode }} data-mode="{{ $mode }}"{{ end }}>
  {{ partial "head" . }}
  <body>
    <!-- AMP Auto Ads - Must be placed immediately after <body> tag -->
    {{ if site.Params.enableAdsense }}
    <amp-auto-ads type="adsense"
            data-ad-client="{{ site.Params.googleAdsenseID }}">
    </amp-auto-ads>
    {{ end }}
    
    {{ partialCached "nav" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer" . }}
    {{ partialCached "sprites" . }}
  </body>
</html>