{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    
    <div class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "January 2, 2006" }}
        </time>
        {{ if .Params.categories }}
        | 
        {{ range $i, $cat := .Params.categories }}
            {{- if $i }}, {{ end -}}
            <a href="{{ $.Site.BaseURL }}categories/{{ $cat | urlize }}/">{{ $cat }}</a>
        {{- end }}
        {{ end }}
    </div>
    
    {{ if .Params.image }}
    <amp-img 
        src="{{ .Site.BaseURL }}{{ .Params.image }}" 
        width="800" 
        height="400" 
        layout="responsive"
        alt="{{ .Title }}">
    </amp-img>
    {{ end }}
    
    <div class="content">
        {{ .Content | replaceRE "<img ([^>]*\\s)?src\\s*=\\s*[\"']([^\"']+)[\"']([^>]*)?\\/?>" "<amp-img src=\"$2\" width=\"800\" height=\"400\" layout=\"responsive\"></amp-img>" | safeHTML }}
    </div>
    
    {{ if .Params.tags }}
    <div class="tags">
        <strong>Tags:</strong>
        {{ range $i, $tag := .Params.tags }}
            {{- if $i }}, {{ end -}}
            <a href="{{ $.Site.BaseURL }}tags/{{ $tag | urlize }}/">{{ $tag }}</a>
        {{- end }}
    </div>
    {{ end }}
</article>
{{ end }}