# Hugo default output directory
/public/
/resources/_gen/

# Hugo build lock file
.hugo_build.lock

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Local backups
static_images_backup/
