{{/* Display Ad Unit - Can be used anywhere */}}
{{ if and .Site.Params.enableAdsense .Site.Params.googleAdsenseID }}
<div class="ad-container" style="text-align: center; margin: 20px 0;">
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="{{ .Site.Params.googleAdsenseID }}"
       data-ad-slot="auto"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{{ end }}
