{{/* AdSense Integration for Hash & Hedge */}}
{{ if and .Site.Params.enableAdsense .Site.Params.googleAdsenseID }}
  {{/* Auto Ads Script */}}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ .Site.Params.googleAdsenseID }}"
     crossorigin="anonymous"></script>
  
  {{/* AdSense Configuration */}}
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "{{ .Site.Params.googleAdsenseID }}",
      enable_page_level_ads: true
    });
  </script>
{{ end }}
